/* @font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/inter-v8-latin-regular.woff2) format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/inter-v8-latin-500.woff2) format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/inter-v8-latin-700.woff2) format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/inter-v8-latin-900.woff2) format("woff2");
} */

/* @link https://utopia.fyi/space/calculator?c=360,14,1.125,1380,20,1.2,6,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|l-2xl|l-3xl&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, 0.2279rem + 0.098vw, 0.3125rem);
  --space-2xs: clamp(0.4375rem, 0.3713rem + 0.2941vw, 0.625rem);
  --space-xs: clamp(0.6875rem, 0.5993rem + 0.3922vw, 0.9375rem);
  --space-s: clamp(0.875rem, 0.7426rem + 0.5882vw, 1.25rem);
  --space-m: clamp(1.3125rem, 1.114rem + 0.8824vw, 1.875rem);
  --space-l: clamp(1.75rem, 1.4853rem + 1.1765vw, 2.5rem);
  --space-xl: clamp(2.625rem, 2.2279rem + 1.7647vw, 3.75rem);
  --space-2xl: clamp(3.5rem, 2.9706rem + 2.3529vw, 5rem);
  --space-3xl: clamp(5.25rem, 4.4559rem + 3.5294vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1176rem + 0.5882vw, 0.625rem);
  --space-2xs-xs: clamp(0.4375rem, 0.261rem + 0.7843vw, 0.9375rem);
  --space-xs-s: clamp(0.6875rem, 0.489rem + 0.8824vw, 1.25rem);
  --space-s-m: clamp(0.875rem, 0.5221rem + 1.5686vw, 1.875rem);
  --space-m-l: clamp(1.3125rem, 0.8934rem + 1.8627vw, 2.5rem);
  --space-l-xl: clamp(1.75rem, 1.0441rem + 3.1373vw, 3.75rem);
  --space-xl-2xl: clamp(2.625rem, 1.7868rem + 3.7255vw, 5rem);
  --space-2xl-3xl: clamp(3.5rem, 2.0882rem + 6.2745vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(0.875rem, 0.3015rem + 2.549vw, 2.5rem);
  --space-l-2xl: clamp(1.75rem, 0.6029rem + 5.098vw, 5rem);
  --space-l-3xl: clamp(1.75rem, -0.2794rem + 9.0196vw, 7.5rem);
}

/* @link https://utopia.fyi/type/calculator?c=360,14,1.2,1380,20,1.25,6,0,&s=0.75,1.5,s-l&g=s,l,xl,12 */

:root {
  --size-step-0: clamp(0.875rem, 0.7426rem + 0.5882vw, 1.25rem);
  --size-step-1: clamp(1.05rem, 0.8691rem + 0.8039vw, 1.5625rem);
  --size-step-2: clamp(1.26rem, 1.0154rem + 1.0873vw, 1.9531rem);
  --size-step-3: clamp(1.512rem, 1.184rem + 1.4579vw, 2.4414rem);
  --size-step-4: clamp(1.8144rem, 1.3777rem + 1.941vw, 3.0518rem);
  --size-step-5: clamp(2.1773rem, 1.5994rem + 2.5685vw, 3.8147rem);
  --size-step-6: clamp(2.6127rem, 1.8519rem + 3.3814vw, 4.7684rem);
}

:root {
  --color-dark: hsl(172, 15%, 18%);
  --color-light: hsl(150, 20%, 96%);
  --color-light-glare: hsl(0, 0%, 100%);
  --color-primary: hsl(168, 60%, 21%);
  --color-primary-glare: hsl(160, 42%, 91%);
  --color-secondary: hsl(40, 90%, 55%);
  --color-secondary-glare: hsl(45, 100%, 94%);
  --font-base: Inter, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  --font-serif: Georgia, sans-serif;
  --gutter: var(--space-s-m);
  --border-radius: var(--size-step-1);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  letter-spacing: var(--tracking);
  line-height: 1.4;
}

h1,
h2,
h3 {
  letter-spacing: var(--tracking-s);
  line-height: 1;
}

h1 {
  font-size: var(--size-step-5);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-3);
}

blockquote:not([class]),
li,
p {
  max-width: 50ch;
}

h1,
h2,
h3 {
  max-width: 20ch;
}

blockquote:not([class]) {
  font-family: var(--font-serif);
  font-size: var(--size-step-2);
}

blockquote:not([class]) p:last-of-type {
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  font-weight: 400;
}

svg {
  flex: none;
  height: 2ex;
  width: auto;
}

[role="list"] {
  padding: 0;
}

a {
  color: currentcolor;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

::selection {
  background: var(--color-dark);
  color: var(--color-light);
}
